header {
  background: #1B4C92;
  height: 50px;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  border-bottom: solid 8px #1B4C92;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  color: gray;
  padding: 16px;
  border-left: 1px solid rgb(240, 238, 238);
  font-weight: bold;
}

nav ul li:last-child {
  border-right: 1px solid rgb(240, 238, 238);
}

nav ul li i {
  color: rgb(217, 213, 213);
}
